---
Checks: >-
  -*,
  bugprone-*,
  cert-*,
  modernize-*,
  -modernize-use-nodiscard,
  performance-*,
  readability-*,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
# CheckOptions:
