---
Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  cert-*,
  modernize-*,
  -modernize-use-nodiscard,
  misc-const-correctness,
  performance-*,
  readability-*,
  -readability-identifier-length
WarningsAsErrors: ''
HeaderFilterRegex: '.*[\\/]include[\\/].*'
FormatStyle: file
CheckOptions:
 # Allow concise one-line control statements without braces.
 - { key: readability-braces-around-statements.ShortStatementLines, value: 1 }
 # Namespaces, types, aliases
 - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
 - { key: readability-identifier-naming.ClassCase, value: lower_case }
 - { key: readability-identifier-naming.StructCase, value: lower_case }
 - { key: readability-identifier-naming.UnionCase, value: lower_case }
 - { key: readability-identifier-naming.EnumCase, value: lower_case }
 - { key: readability-identifier-naming.TypedefCase, value: lower_case }
 - { key: readability-identifier-naming.TypeAliasCase, value: lower_case }
 - { key: readability-identifier-naming.ConceptCase, value: lower_case }

 # Functions and values
 - { key: readability-identifier-naming.FunctionCase, value: lower_case }
 - { key: readability-identifier-naming.VariableCase, value: lower_case }
 - { key: readability-identifier-naming.ParameterCase, value: lower_case }
 - { key: readability-identifier-naming.MemberCase, value: lower_case }
 - { key: readability-identifier-naming.PrivateMemberSuffix, value: '_' }

 # Constants, enumerators, macros
 - { key: readability-identifier-naming.ConstantCase, value: lower_case }
 - { key: readability-identifier-naming.EnumConstantCase, value: lower_case }
 - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }

 # `T`, `InputIt`, `Allocator`, and similar parameters
 - { key: readability-identifier-naming.TemplateParameterCase, value: CamelCase }
