---
Checks: >-
  -*,
  bugprone-*,
  cert-*,
  modernize-*,
  performance-*,
  readability-*
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
CheckOptions:
  readability-identifier-length.IgnoredParameterNames: '^[abn]$'
